
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/mystyle.css" rel="stylesheet" />

    

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-dark p-0 ">
        <div class="container">
            <img style="width:150px;height:100px;" class="navbar-brand rounded-circle active align-self-xl-stretch " src="~/img/logo.PNG" />

            <button class="navbar-toggler custom-toggler  ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class=" navbar-collapse collapse navbar" id="navbarNavDropdown">
                <ul class="nav justify-content-center" id="navC">
                </ul>

                @if (Session["id"] != null)
                {

                    <button type="button" class="btn btn-outline-primary  ">
                        <i class="fa fa-user-times"></i>

                        @Html.ActionLink("logout", "Logout", "User")
                    </button>

                }
                else
                {


                    <button type="button" class="btn btn-outline-primary ">
                        <i class="fa fa-user"></i>

                        @Html.ActionLink("login", "Login", "User")

                    </button>

                    <br />

                    <button type="button" class="btn btn-outline-primary ">
                        <i class="fa fa-user-plus"></i>

                        @Html.ActionLink("Singup", "Add", "User")

                    </button>

                }

            </div>
            <div class=" justify-content-end">

            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>



    <script src="~/bootstrap/js/jquery.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    <script>
        //get categories to load in navbar
        $(function () {
            $("#navC").load("/News/allcat")
        })
    </script>
</body>
</html>
