
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/mystyle.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/bootstrap/js/jquery.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    <script>
        $(function () {
            $("#navC").load("/News/allcat")
        })
    </script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark  ">
        <img style="width:150px;height:100px;" class="navbar-brand ml-5 rounded-circle active align-self-xl-stretch " src="~/img/logo.PNG" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav justify-content-center" id="navC">
            </ul>
        </div>

        @if (Session["id"] != null)
        {
            <button type="button" class="btn btn-outline-primary w-15">
                @Html.ActionLink("logout", "Logout", "User")
            </button>

        }
        else
        {
            <button type="button" class="btn btn-outline-primary w-15">
                @Html.ActionLink("login", "Login", "User")

            </button>
            <button type="button" class="btn btn-outline-primary w-15">
                @Html.ActionLink("Singup", "Add", "User")

            </button>
        }
    </nav>
    <div>
        @RenderBody()
    </div>

</body>
</html>
