@using News.Models
@model user
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container justify-content-around  ">
    <form method="post">
        <table class="table table-dark justify-content-center content">
            <tr>
                <td>@Html.LabelFor(n => n.name)</td>
                <td>@Html.TextBoxFor(n => n.name)</td>
                <td>@Html.ValidationMessageFor(n => n.name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(n => n.email)</td>
                <td>@Html.TextBoxFor(n => n.email)</td>
                <td>@Html.ValidationMessageFor(n => n.email)</td>
            </tr>
            <tr>
                <td>Change Password</td>
                <td>@Html.ActionLink("Change Password", "ChangePassword")</td>
            </tr>
            @Html.HiddenFor(m => m.password, new { @Value = Model.password })
            @Html.HiddenFor(m => m.confirm, new { @Value = Model.password })

            <tr>
                <td>
                    <input type="submit" value="Save" class="badge-primary col-3 offset-11" />
                </td>
            </tr>
        </table>

    </form>
</div>
